/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fondo claro para todo el cuerpo */
}

/* Estilo para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sección de Sobre Nosotros, Talleres y Contacto con imagen de fondo común */
.imagen-fondo-comun {
    background: url('https://tse3.mm.bing.net/th?id=OIP.ptcUVLDU1uAN1wgvujPgLwAAAA&pid=Api&P=0&h=180') no-repeat center center/cover;
    color: #fff; /* Cambia el color del texto a blanco */
    padding: 50px 20px;
    border-radius: 10px;
    background-size: cover;
}

/* Estilo para las secciones */
section {
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro */
}

/* Estilo para los encabezados */
h1, h2 {
    color: #fff; /* Cambia el color del texto de los encabezados a blanco */
    text-align: center;
}

/* Estilo para el texto */
p {
    color: #fff; /* Cambia el color del texto a blanco */
    text-align: justify;
}

/* Estilo para los enlaces */
a {
    color: #fff; /* Color blanco para los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el iframe de Google Maps */
iframe {
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 10px;
}
