/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Sección de Inicio con imagen de fondo */
.fondo-inicio {
    background: url('https://i.blogs.es/0ca9a6/aa/1366_2000.jpeg') no-repeat center center/cover;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

/* Sección de Sobre Nosotros con fondo de color sólido */
.fondo-sobre-nosotros {
    background-color: #f2f2f2; /* Color de fondo sólido */
    color: #000; /* Color del texto negro */
    padding: 50px 20px;
}

/* Sección de Talleres con color de fondo */
.fondo-talleres {
    background-color: #F5A623; /* Color de fondo general (naranja) */
    color: #fff;
    padding: 50px 20px;
}

.talleres-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.taller-card {
    background: #F8C471; /* Color de fondo de las tarjetas (tono más claro del naranja) */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px; /* Ajustar el ancho según sea necesario */
    height: 150px; /* Ajustar la altura según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición */
    color: #fff; /* Color del texto dentro de las tarjetas */
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taller-card h3 {
    margin: 0;
}

/* Efectos de hover para las tarjetas */
.taller-card:hover {
    transform: scale(1.05); /* Agranda la tarjeta al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

/* Sección de Contacto con imagen de fondo */
.fondo-contacto {
    background: url('https://drive.google.com/uc?export=view&id=1oNMETxT_eQ6L5gEv-5760TSQS_0IRn8G') no-repeat center center/cover;
    color: #fff;
    padding: 50px 20px;
}

/* Estilo para los encabezados */
h1, h2 {
    color: #fff;
}

/* Estilo para el texto */
p {
    color: #000; /* Color del texto en negro */
    text-align: justify;
}

/* Estilo para los enlaces */
a {
    color: #FFD700; /* Color dorado para los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el iframe de Google Maps */
iframe {
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 10px;
}
